.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4 {
  color: #ff6600;  
  font-weight: 600;
  line-height: 1.2;
 }

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	text-transform: none;
	font-family: "Segoe UI Light";
}

.reveal section img {
  border: none;
  box-shadow: none;
  outline: none;
}